*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    background: #206453;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.music-player{
    display: flex;
    flex-direction: row;
    max-height: 450px;
    width: 800px;
}

.player{
    background: rgb(198, 198, 23);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex: 1;
    justify-content: flex-end;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}
#title{
    color: orangered;
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: capitalize;
}

.slidecontainer{
    display: flex;
    
    width: 100%;
    justify-content: center;
    align-items: center;

}
.slidecontainer i{
    color: #141414;
    font-size: 16px;
}
.slider{
    webkit-appearance:none;
    height: 10px;
    background-color: white;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: .2;
    border-radius: 10px;
    margin:  0 10px;
}
.slider:hover{
    opacity: 1;
}

.controls{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.controls button i{
    font-size: 30px;
    color: #f1f1f1;

}
.play-pause i{
    font-size: 60px !important;
}
.controls button{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    position: 20px;
}

.playlist{
    flex: 1;
    background: #f1f1f1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.playlist h2{
    margin-bottom: 20px;
}
.playlist ul{
   
    list-style: none;
    flex-basis: 100%;
    overflow: scroll;
    padding: 0 ;
}
.playlist ul li{
     text-transform: capitalize;
      padding: 10px 20px 10px 0px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgb(195, 194, 194);
}
.playlist ul li.active{
    font-weight: bold;
    color: red;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: rgb(198, 198, 23);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: orangered;
}
.record-ani{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@media only screen and (max-width:360px){
    .playlist{
        display: none;
    }
}